{{ define "main" }}

<h1>{{.Title}}</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

{{ with .Resources.GetMatch "poster.jpg" }}
  <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}">
{{ end }}

<p>Release Date: <strong>{{ .Params.release_date}}</strong></p>
<p>Release Year: <strong><a href="{{ with $.GetPage (printf "/release_years/%s" (index .Params.release_years 0)) }}{{ .RelPermalink}}{{end}}">{{ index .Params.release_years 0 }}</a></strong></p>
<p>Budget (USD): <strong>{{ .Params.budget_usd}}</strong></p>
<p>Revenue (USD): <strong>{{ .Params.revenue_usd}}</strong></p>
<p>Runtime: <strong>{{ .Params.runtime_minutes}} minutes</strong></p>

{{ .Content }}

<div style="opacity:0.3">
  {{ with .GitInfo }}
  <div>Committed: {{ dateFormat "2006-01-02 15:04 -0700" .AuthorDate.Local }}</div>
  {{ end }}
</div>

{{ end }}
