{{ define "main" }}
<h1>{{.Title}}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

<table>
  <tr>
    <td>Title</td>
    <td>Release Year</td>
    <td>Rating</td>
    <td>RT Score</td>
    <td>MC Score</td>
    <td>RT+MC</td>
    <td>RT+MC Weighted</td>
  </tr>

  {{ range .Data.Pages.ByParam "title_alpha_sortable" }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
      <td><a href="{{ with $.GetPage (printf "/release_years/%s" (index .Params.release_years 0)) }}{{ .RelPermalink}}{{end}}">{{ index .Params.release_years 0 }}</a></td>
      <td>{{ index .Params.ratings 0 }}</td>
      <td>{{ .Params.rotten_tomatoes.score }} ({{ .Params.rotten_tomatoes.review_count}})</td>
      <td>{{ .Params.metacritic.score }} ({{ .Params.metacritic.review_count}})</td>
      <td>{{ add .Params.metacritic.score .Params.rotten_tomatoes.score }}</td>

      {{ $mcWeights := mul .Params.metacritic.score .Params.metacritic.review_count }}
      {{ $rtWeights := mul .Params.rotten_tomatoes.score .Params.rotten_tomatoes.review_count }}
      {{ $totalReviews := add .Params.metacritic.review_count .Params.rotten_tomatoes.review_count }}
      <td>{{ lang.NumFmt 2 (div (add $mcWeights $rtWeights) (float $totalReviews)) }}</td>
    </tr>

  {{ end }}
</table>
{{ end }}
