{{ define "main" }}
<h1>{{.Title}}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

<table>
  <tr>
    <td>Title</td>
    <td>Release Year</td>
    <td>Score</td>
  </tr>

    {{ range .Data.Pages.ByParam "release_date" }}
      <tr>
        <td><a class="random-target" href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td><a href="{{ with $.GetPage (printf "/release_years/%s" (index .Params.release_years 0)) }}{{ .RelPermalink}}{{end}}">{{ index .Params.release_years 0 }}</a></td>

        {{ $score := partial "weighted-score.html" . }}
        <td title="RT: {{ .Params.rotten_tomatoes.score }} ({{ .Params.rotten_tomatoes.review_count}}), MC: {{ .Params.metacritic.score }} ({{ .Params.metacritic.review_count}})">{{ lang.NumFmt 2 $score }}</td>
      </tr>

    {{ end }}
</table>
{{ end }}
