{{ define "main" }}

<h1>{{.Title}}</h1>

<p>
  {{ partial "breadcrumb.html" . }}
  {{ partial "tag-list.html" . }}
</p>

<p>Release Date: <strong>{{ .Params.release_date}}</strong></p>
<p>Release Year: 
  <strong>
    <a href="{{ with $.GetPage (printf "/release_years/%s" (index .Params.release_years 0)) }}{{ .RelPermalink}}{{end}}">{{ index .Params.release_years 0 }}</a>
  </strong>
  (<a href="{{ with $.GetPage (printf "/release_decades/%s" (index .Params.release_decades 0)) }}{{ .RelPermalink}}{{end}}">{{ index .Params.release_years 0 }}'s</a>)
</p>

<blockquote>{{ .Params.tagline }}</blockquote>

<p>Budget (USD): <strong>{{ .Params.budget_usd | lang.FormatCurrency 2 "USD" }}</strong></p>
<p>Revenue (USD): <strong>{{ .Params.revenue_usd | lang.FormatCurrency 2 "USD" }}</strong></p>
<p>Runtime: <strong>{{ .Params.runtime_minutes}} minutes</strong></p>
<p>IMDB: <strong><a href="https://imdb.com/title/{{ .Params.imdb_id }}">IMDB</a></strong></p>

{{ with .Params.rotten_tomatoes }}
  {{ if .slug }}
    <p>Rotten Tomatoes: <strong><a href="https://www.rottentomatoes.com/m/{{ .slug }}">{{ .score | default "--" }} ({{ .review_count }})</a></strong></p>
  {{ end }}
{{ end }}
{{ with .Params.metacritic }}
  {{ if .slug }}
    <p>Metacritic: <strong><a href="https://www.metacritic.com/movie/{{ .slug }}">{{ .score | default "--" }} ({{ .review_count }})</a></strong></p>
  {{ end }}
{{ end }}
{{ with .Params.rotten_tomatoes }}
  {{ $rt := . }}
  {{ with $.Params.metacritic }}
    {{ $mc := . }}
    {{ $mcWeights := mul $mc.score $mc.review_count }}
    {{ $rtWeights := mul $rt.score $rt.review_count }}
    {{ $totalReviews := add $mc.review_count $rt.review_count }}
    <p>Weighted Score: <strong>{{ lang.NumFmt 2 (div (add $mcWeights $rtWeights) (float $totalReviews)) }}</strong></p>
  {{ end }}
{{ end }}

<p>Collections</p>
<ul>
  {{ range (.GetTerms "collections") }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
</ul>

<p>Production Countries</p>
<ul>
  {{ range (.GetTerms "production_countries") }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
</ul>

<p>Production Companies</p>
<ul>
  {{ range (.GetTerms "production_companies") }}
    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
</ul>

{{ with .Resources.GetMatch "cast.json" }}
<h2>Cast</h2>
<table>
  <tr>
    <th>Actor</th>
    <th>Character</th>
  </tr>
  {{ range (.Content | transform.Unmarshal) }}
    {{ $taxo_path := printf "/cast_members/%s" (.id | string ) }}
    {{ $taxo := $.GetPage $taxo_path }}
    <tr>
      <td><a href="{{ $taxo.RelPermalink }}">{{ .name }}</a></td>
      <td>{{ .character }}</td>
    </tr>
  {{ end }}
</table>
{{ end }}

{{ with .Resources.GetMatch "crew.json" }}
<h2>Crew</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Job</th>
  </tr>
  {{ range (.Content | transform.Unmarshal) }}
    {{ $taxo_path := printf "/crew_members/%s" (.id | string ) }}
    {{ $taxo := $.GetPage $taxo_path }}
    <tr>
      <td><a href="{{ $taxo.RelPermalink }}">{{ .name }}</a></td>
      <td>{{ .job }}</td>
    </tr>
  {{ end }}
</table>
{{ end }}

{{ .Content }}

<div style="opacity:0.3">
  {{ with .GitInfo }}
  <div>Committed: {{ dateFormat "2006-01-02 15:04 -0700" .AuthorDate.Local }}</div>
  {{ end }}
</div>

{{ end }}
