{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Tom Hummel Movie Journal",
  "url": "https://movies.tomhummel.com",
}
</script>
{{ end }}

{{ define "main" }}
<h1>Tom Hummel's Movie Journal</h1>

<ul>
  <li>These are my <a href="{{ with .Site.GetPage "/movies/1995-heat" }}{{ .Permalink }}{{ end }}">"drop of a hat"</a> movies. The movies I'll watch at a moment's notice, start to finish, a random 15 minute section in the middle, or anything in between.</li>
  <li>These movies entertain me, invoke my curiosity, can be watched casually or with 100% intense focus</li>
  <li>There is depth, layering, or canonical content of interest in each of these titles.</li>
  <li>I've seen each of these movies at least five times and need to be at least five years old to be considered.</li>
</ul>

<p>Total Movies: <a href="{{ with .Site.GetPage "section" "movies" }}{{ .Permalink }}{{ end }}">{{ len (where .Site.RegularPages "Section" "movies") }}</a></p>

<h2>Genres</h2>
<ul>
{{range $name, $taxonomy := .Site.Taxonomies.genres}}
  {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/genres/%s" $name) }}
  <li>
    <a href={{ .RelPermalink }} title="All movies in genre {{$name}}">{{ .LinkTitle }}</a>
    <sup>{{ $cnt }}</sup>
  </li>
  {{end}}
{{end}}
</ul>

<h2>Categories</h2>
<div>
  <ul>
    {{ with $.Site.GetPage "/release_years" }}
      <li><a href="{{ .Permalink }}">By Release Year</a></li>
    {{ end }}
    {{ with $.Site.GetPage "/cast_members" }}
      <li><a href="{{ .Permalink }}">By Cast Member</a></li>
    {{ end }}
    {{ with $.Site.GetPage "/crew_members" }}
      <li><a href="{{ .Permalink }}">By Crew Member</a></li>
    {{ end }}
    {{ with $.Site.GetPage "/keywords" }}
      <li><a href="{{ .Permalink }}">By Keyword</a></li>
    {{ end }}
  </ul>
</div>

<h2>My Collections</h2>
<ul>
{{range $name, $taxonomy := .Site.Taxonomies.collections}}
  {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/collections/%s" $name) }}
  <li>
    <a href={{ .RelPermalink }} title="All pages with tag {{$name}}">{{ .LinkTitle }}</a>
    <sup>{{ $cnt }}</sup>
  </li>
  {{end}}
{{end}}
</ul>

<p>
  <small>
    <a href="{{ $.Site.Params.github_repo }}">github</a> |
  </small>
</p>
<p>
  <small>
    This product uses the TMDB API but is not endorsed or certified by TMDB.
  </small>
</p>
{{ end }}
