{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Tom Hummel Movie Journal",
  "url": "https://movies.tomhummel.com",
}
</script>
{{ end }}

{{ define "main" }}
<h1>Tom Hummel's Movie Journal</h1>

<p>Total Movies: {{ len (where $.Data.Pages "Section" "m") }}</p>

<div>
  Newest Movies Added:
  <ul>
  {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "m") }}
    <li><a href="{{ .Permalink }}">{{ .Title }} ({{ index .Params.release_years 0 }}) </a></li>
  {{ end }}
    <li><a href="{{ with .Site.GetPage "section" "m" }}{{ .Permalink }}{{ end }}">More...</a></li>
  </ul>
</div>

<p>
  <small>
    <a href="{{ $.Site.Params.github_repo }}">github</a> |
  </small>
</p>
<p>
  <small>
    This product uses the TMDB API but is not endorsed or certified by TMDB.
  </small>
</p>
{{ end }}
