{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Tom Hummel Movie Journal",
  "url": "https://movies.tomhummel.com",
}
</script>
{{ end }}

{{ define "main" }}
<h1>Tom Hummel's Movie Journal</h1>

<blockquote>These are my <a href="{{ with .Site.GetPage "/movies/1995-heat" }}{{ .RelPermalink }}{{ end }}">"drop of a hat"</a> movies. The movies I'll watch at a moment's notice, start to finish, a random 15 minute section in the middle, or anything in between.</blockquote>

<p>Total Movies: <a href="{{ with .Site.GetPage "section" "movies" }}{{ .RelPermalink }}{{ end }}">{{ len (where .Site.RegularPages "Section" "movies") }}</a></p>

<h2>Genres</h2>
<ul>
{{range $name, $taxonomy := .Site.Taxonomies.genres}}
  {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/genres/%s" $name) }}
  <li>
    <a href={{ .RelPermalink }} title="All movies in genre {{$name}}">{{ .LinkTitle }}</a>
    <sup>{{ $cnt }}</sup>
  </li>
  {{end}}
{{end}}
</ul>

<h2>Top Actors</h2>
{{ $sortable := slice }}
{{ range $key, $taxonomy := .Site.Taxonomies.cast_members }}
  {{ $sortable = $sortable | append (dict "key" $key "pages" $taxonomy.Pages "count" (len $taxonomy.Pages) ) }}
{{ end }}

<ul>
{{ range first 25 (sort $sortable "count" "desc") }}
  {{ $count := .count }}
  {{ with $.Site.GetPage (printf "/cast_members/%s" .key) }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }} </a><sup>{{ $count }}</sup></li>
    {{ end }}
{{ end }}
</ul>
<h2>Categories</h2>
<div>
  <ul>
    {{ with $.Site.GetPage "/release_decades" }}
      <li><a href="{{ .RelPermalink }}">By Release Decade</a></li>
    {{ end }}
    {{ with $.Site.GetPage "/release_years" }}
      <li><a href="{{ .RelPermalink }}">By Release Year</a></li>
    {{ end }}
    {{ with $.Site.GetPage "/cast_members" }}
      <li><a href="{{ .RelPermalink }}">By Cast Member</a></li>
    {{ end }}
    {{ with $.Site.GetPage "/crew_members" }}
      <li><a href="{{ .RelPermalink }}">By Crew Member</a></li>
    {{ end }}
    {{ with $.Site.GetPage "/keywords" }}
      <li><a href="{{ .RelPermalink }}">By Keyword</a></li>
    {{ end }}
  </ul>
</div>

<h2>My Collections</h2>
<ul>
{{range $name, $taxonomy := .Site.Taxonomies.collections}}
  {{ $cnt := .Count }}
  {{ with $.Site.GetPage (printf "/collections/%s" $name) }}
  <li>
    <a href={{ .RelPermalink }} title="All pages with tag {{$name}}">{{ .LinkTitle }}</a>
    <sup>{{ $cnt }}</sup>
  </li>
  {{end}}
{{end}}
</ul>

<h2>Tools</h2>
<ul>
  <li>🎰 <a href="/random/movie">Go to a random movie</a></li>
  <li>🎰 <a href="/random/cast">Go to a random cast member</a></li>
  <li>🎰 <a href="/random/crew">Go to a random crew member</a></li>
  <li>🎰 <a href="/random/year">Go to a random release year</a></li>
</ul>

<p>
  <small>
    <a href="{{ $.Site.Params.github_repo }}">github</a> |
  </small>
</p>
<p>
  <small>
    This product uses the TMDB API but is not endorsed or certified by TMDB.
  </small>
</p>
{{ end }}
