{{ define "main" }}
<h1>{{.Title}}</h1>

<p>{{ partial "breadcrumb.html" . }}</p>

{{ with .Content }}
<div>{{ . }}</div>
{{ end }}

{{ with $.GetPage (printf "/crew_members/%s" .Params.id) }}
<blockquote>
  See: <a href="{{ .RelPermalink }}">non-acting credits</a>
</blockquote>
{{ end }}

<table>
  <tr>
    <td>Movie</td>
    <td>Release Year</td>
    <td>Role</td>
  </tr>
  {{ $castId := .Params.id | int }}
  {{ range .Data.Pages.ByParam "release_date" }}
    <tr>
      <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
      <td><a href="{{ with $.GetPage (printf "/release_years/%s" (index .Params.release_years 0)) }}{{ .RelPermalink}}{{end}}">{{ index .Params.release_years 0 }}</a></td>
      {{ $movieCastJson := .Resources.GetMatch "cast.json" }}
      {{ $movieCast := $movieCastJson.Content | transform.Unmarshal }}
      {{ $matchingCast := where $movieCast "id" "==" $castId }}
      {{ $roles := slice }}

      {{ range $matchingCast }}
          {{ $roles = $roles | append .character }}
      {{ end }}

      <td>{{ delimit $roles ", " }}</td>
    </tr>
  {{ end }}
</table>
{{ end }}
